body {
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #505962;
  background-color: #E5E5E5
}

main {
  margin-top: 100px;
}

.card {
  box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 5px;
}

.title {
  font-weight: 800;
  font-size: 40px;
}

.tops {
  background: #fff;
  margin-bottom: 40px;
  box-sizing: 2px 4px 3px #ccc;
}

.track {
  background: #1ebba3;
  padding: 4px;
  width: 60%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.points {
  font-size: 35px;
  font-weight: 900;
 
}

.track p {
  margin-bottom: 3px;
  padding: 0 10px;
}

.track p {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.persona {
  margin-top: 20px;
  padding-bottom: 30px;
}


.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}


/* media queries */

@media (max-width: 767px){
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem ;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

}